* {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

#logo {
    float: left;
    padding-top: 20px;
}

header + main {
    margin-left: 3rem;
    margin-right: 3rem;
}

header {
    display: inline-block;
    width: 100%;
    flex-wrap: wrap;
    /* margin-left: 3rem;
    margin-right: 3rem; */
}

header nav {
    /* width: 100%; */
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    /* padding: 1rem; */
    float: right;
    width: 30%;
    flex-wrap: wrap;
}

.navbar-link {
    padding-top: 40px;
}

.navbar-link:hover{
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 40px;
}

.selected {
    border-top: 2px solid #0065FC;
    padding-top: 40px;
    color: #0065FC;
}

#navbar .sign-up {
    color: #0065FC;
    font-weight: bold;
    padding-top: 40px;
}



form {
    display: flex;
    align-items: center;
    margin: 1.5rem 0 1.5rem 0;
}

.marker {
    background-color: #F2F2F2;
    padding: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.text-hold{
    padding: 1rem;
    border: 1px solid #F2F2F2;
    font-weight: bold;
}

.research-btn {
    color: white;
    background-color: #0065FC;
    padding: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border: none; /*Sinon, research-btn ne colle pas vers text-hold*/
    font-weight: bold;
    cursor: pointer;
}

.research-btn:active {
    transform: translateY(3px);
}

.research-lens {
    display: none;
}

.filter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


.filter ul {
    display: flex;
    flex-wrap: wrap;

}

.filter ul li {
    display: flex;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-radius: 180rem;
    border-left: none;
    margin: 1rem;
    font-weight: bold;
    letter-spacing: 0.4px;
    padding-right: 1rem;
}

.filter ul li:hover {
    background-color: #DEEBFF;
    cursor: pointer;
}

.filter ul li:active {
    transform: translateY(3px);
}

.filter ul li i {
    display: flex;
    padding: 1rem;
    background-color: #DEEBFF;
    border-radius: 180rem;
    border: none;
    justify-content: space-between;
    margin-right: 1rem;
}






.fa-star {
    opacity: 0.3;
}

.blue {
    color: #0065FC;
    opacity: 1;
}


.info {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.info i {
    padding: 0.3rem;
    margin-right: 1rem;
    border: 2px solid #F2F2F2;
    border-radius: 100%;
}

/* HEBERGEMENT */

.thumbnail {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    padding: 1rem;
    /* margin-top: 1rem;
    margin-bottom: 1rem; */
    margin: 1rem;
    border: 2px solid black;
    border-radius: 1rem;
}

img {
    width: 100px;
    height: 50px;
    padding: 0.5rem;
}


#accommodation {
    display: flex;
    justify-content: space-between;
    
}

/* #accommodation a{
    margin: 1rem;
} */

.result-accommodation{
    width: 65%;
    background-color: #F2F2F2;
    border-radius: 2rem;
    padding: 1rem;
}

.hebergement-titre {
    padding: 1rem;
}

.result-list-accommodation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    /* flex-grow: 1; */
}

.result-popular{
    width: 25%;
    background-color: #F2F2F2;
    border-radius: 2rem;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
}

.result-popular-titre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    padding: 1rem;
    /* margin: 1rem;  Bu sayede les plus populaire yazisi içerde kaldi harika oldu */
}

/* .result-popular-titre i {
    padding: 0;
    margin: 0;
} */

.result-list-popular {
    display: flex;
    flex-direction: column;
}

.afficher-plus {
    border: none;
    cursor: pointer;
    padding-left: 1rem;
}

.show-more{
    border: orangered;
    border-style: solid;
    width: 30%;
    padding: 0rem;
}

#activity {
    margin-top: 2rem;
}



.result-list-activity {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}



footer {
    padding-left: 0;
    padding-right: 0;
    margin-top: 2rem;
    background-color: #F2F2F2;
}

.footerList {
    display: flex;
    padding: 2rem 0 2rem 1rem;
}

.footerList ul {
    width: 33%;
    /* padding: 1rem; */   /*Bunu koyunca altta slidebar geldi*/
    padding-bottom: 1rem;
}

.footerList ul li {
    list-style-type: none;
    padding: 0.5rem;
}

.footer-title {
    font-weight: bold;
    margin-bottom: 0.5rem;
}