header + main {
    margin-left: 0;
    margin-right: 0;
}

header, main {
    padding-left: 0;
    padding-right: 0;
}

.header-logo {
    margin-left: 19px;
}

.header-sign-up {
    margin-right: 5px;
}

#research {
    padding: 1rem;
    padding-top: 0;
    margin-top: 0;
    margin-left: 4px;
}

form {
    margin: 40px 5px 35px 1px;
}

@media screen and (max-width: 450px) {

    form{
        border: 1px solid #F2F2F2;
        border-radius: 1rem;
        justify-content: space-between;
        border-right: none;
    }

    .marker {
        /* border: none; */
        padding: 15px;
        width: 20px;
        border: 1px solid #F2F2F2;
    }

    .text-hold {
        border: none;
        /* margin-right: -1rem; */
        font-size: 18px;
        padding: 12px;
        width: 100%;
    }

    .research-btn {
        display: none;
    }
    
    .research-lens {
        display: flex;
        color: white;
        background-color: #0065FC;
        padding: 18px;
        border-radius: 1rem;
        border: none; 
        cursor: pointer;
    }
    
    .research-lens i {
        font-size: 15px;
    }

    .research-lens:active {
        transform: translateY(3px);
    }
    
}


.filter {
    align-items: flex-start;
    padding: 0;
    margin-bottom: 2rem;
}

.filter h3 {
    margin-left: 2px;
}


.filter ul {
    flex-direction: row;
    flex-wrap: wrap;
    /* padding-right: 0; */
    align-items: flex-start;
    margin: 0;
    padding: 0;
    /* justify-content: space-between; */
}

.filter ul li {
    padding-left: 0;
    margin: 0;
    padding: 0;
    padding-right: 16px;
    margin-right: 0.7rem;
    margin-bottom: 0;
    margin-top: 0.9rem;
    margin-left: 0;

    height: 45px;
    font-size: 16px;
    letter-spacing: 0;
}

.filter ul li i {
    width: 32px;
    height: 32px;
    padding: 8px;
    margin: 0;
    margin-right: 0.8rem;

    font-size: 18px;
}

.info {
    /* margin-bottom: 1rem; */
    align-items: baseline;
    margin: 20px 0 40px 1px;
}

.info i {
    width: 27px;
    margin-right: 0.8rem;
    font-size: 13px;
}

.info p {
    font-size: 1rem;
}

/* -------------------- ACCOMMODATION ------------------ */

#accommodation {
    flex-direction: column-reverse;
    margin: 0;
    /* padding: 1rem; */
    width: 100%;
}

.result-popular {
    width: 100%;
    border-radius: 0;
    padding: 20px 0 24px 0;
}

.result-popular-titre{
    padding: 20px;
}

.result-list-popular{
    flex-direction: column;
    padding: 0 20px 0 20px;
}
/* res-pop etkisiz kaldi, .result-list-popular a çalisiyor onun yeerine */
.res-pop {
    margin: 0;
    /* padding: 0 1rem 0 1rem; */
    margin-bottom: 12px;
    border: none;
}

.result-list-popular a {
    margin-bottom: 12px;
    height: 140px;
    width: 100%;
}

.img-pop {
    margin: 5px;
    max-width: 33%;
    min-width: 127px;
}

.description-pop {
    /* margin: 0.6rem 0.4rem 0.7rem 0.8rem; */
    margin: 15px 10px 10px 15px;
}

.description-pop p {
    margin-top: 8px;
}

@media screen and (max-width: 325px) {
    .result-list-popular a {
        flex-direction: column;
        height: auto;
        width: auto;
        max-height: none;
        border: 4px solid white;
    }
    .img-pop {
        width: 100%;
        height: 115px;
        border-bottom-left-radius: 0;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        max-width: 100%;
        margin: 0px;
    }
}

/* Populer bitti, hebergement basliyor burdan sonra */

.result-accommodation {
    flex-direction: column;
    width: 100%;
    padding: 20px 0 24px 0;
    /* padding: 1rem; */
    border-radius: 0;
    background-color: white;
}

.result-accommodation a{
    width: 100%;
}

.img-heberge {
    width: 98.2%;
    /* border: none;
    margin: 0; */
}

.hebergement-titre {
    padding: 20px;
}

.result-list-accommodation{
    padding: 0 20px 0 20px;
    margin: 0;
    height: auto;
}

.result-list-accommodation a {
    margin-bottom: 12px;
}

.afficher-plus {
    background-color: white;
    margin: 0;
    /* padding: 1rem 1rem 1rem 0; */
    padding: 0;
    margin: 1.5rem 0 2rem 4px;
    font-size: 40px;
}

/* -------- ACTIVITY ------------ */

#activity {
    /* padding: 1rem; */
    padding: 0 20px 0 21px;
    margin-top: 0.5rem;
    margin-left: 0;
    margin-right: 0;
}

.activity-titre {
    padding: 0;
}

.result-list-activity{
    /* display: flex;
    flex-direction: column; */
    display: block;
    height: 100%;
}

.act-art {
    max-width: 100%;
    width: 100%;
    margin-bottom: 20px;
    /* margin: 1rem; */
}

.article-1, .article-2, .article-3, .article-4, .article-5, .article-6 {
    height: 185px;
    margin-bottom: 26px;
}

/* ------------ FOOTER ------------------ */

footer{
    /* margin-top: 1rem; */
    margin: 0;
    margin-bottom: 0;
    padding: 0;
}

.footerList {
    flex-direction: column;
    margin: 0;
    padding: 12px 0 15px 22px;
}

.footerList ul {
    width: 100%;
    margin-bottom: 1.5rem;
}

.footerList ul li {
    list-style-type: none;
    padding: 0.3rem;
    margin-bottom: 0.1rem;
}

#footer-title {
    font-weight: bold;
    margin-bottom: 0.7rem;
    font-size: 18px;
}

.footerList ul li a {
    font-size: 16px;
}

@media screen and (max-width: 200px) {
    *{
        margin: 0;
        padding: 0;
    }

    #research {
        padding: 0;
    }

    .result-list-popular {
        padding: 0;
    }

    .result-list-accommodation {
        padding: 0;
    }

    #activity {
        padding: 0;
    }

    .footerList {
        padding: 0;
    }
}